

<div class="comp-body">
    <div class="insider-header">
        <div class="welcome-header"> <b>PRODUCT BY ID</b> </div>
    </div>
<div class="flow-container">
  <nz-table #nzTable [nzData]="objall" nzTableLayout="fixed" [nzFrontPagination]="false">
    <thead>
      <tr>
        <th >
          SKU ID
          
        </th>
        <th nzCustomFilter>SKU Name
          
        </th>
        <th>Unit</th>
        <th>Category</th>
        <th>Image</th>
    

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let com of objall">
        <td >{{ com.skuId }}</td>
        <td >{{ com.skuName }}</td>
        <td >{{ com.skuUnit }}</td>
        <td >{{ com.skuCategory }}</td>
        <td ><img src="{{com.skuImage}}" width="40%">

       
       </td>
    
      </tr>
    </tbody>
  </nz-table>
  <nz-dropdown-menu #menu="nzDropdownMenu">
    <div class="ant-table-filter-dropdown">
      <div class="search-box">
        <input type="text" nz-input placeholder="Search by SKU Name" [(ngModel)]="searchValue" />
        <button nz-button nzSize="small" nzType="primary" (click)="search()" class="search-button">
          Search
        </button>
        <button nz-button nzSize="small" (click)="reset()">Reset</button>
      </div>
    </div>
  </nz-dropdown-menu>
  <button nz-button nzType="primary" (click)="back()">Back</button>

    </div>
    </div>


