.comp-body {
  position: relative;
  padding-left: 2vw;
  padding-top: 3vh;
}
.inside-header {
  position: relative;
}

.welcome-header {
  position: absolute;
  width: fit-content;
  left: 2vw;
  white-space: pre;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  /* identical to box height */

  color: #ffffff;
}

b {
  font-weight: 700;
}

.nz-button-outline {
  background: #1d1d1d;
  color: #ffffff;
}

[nz-button] {
  margin-right: 8px;
  margin-bottom: 8px;
}

.divider {
  flex: 0.4;
  padding-left: 0px;

  top: 0px;
}
.divider-line {
  width: 1px;
  height: 360px;
  top: 0px;

  background: #ffffff;
}
.info-container {
  position: relative;
  padding-top: 15px;
  padding-bottom: 15px;
  top: 10px;
  left: -55px;
  width: 100%;

  height: 25vw;
}
.flow-container {
  position: relative;
  top: 12vh;
  width: 50%;
  padding-top: 5%;
  padding-left: 30px;
  padding-right: 30px;

  height: 70%;
  overflow: auto;
  background: #ffffff;
  border-radius: 8px;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

@media (max-width: 800px) {
  .comp-body {
    position: absolute;
    padding-left: 5%;
    padding-right: 5%;

    padding-top: 20px;
    height: 100%;
    width: 100%;
    overflow: auto;
  }

  .welcome-header {
    position: relative;
    width: fit-content;
    left: 0;
    top: 20px;
  }

  .info-container {
    position: relative;
    top: 10px;
    left: -10%;
    width: 100%;
    padding-top: 0%;
    padding-left: 10%;
    height: max-content;
  }
  .flow-container {
    position: relative;
    height: 70%;
    width: 100%;
    overflow: visible;
    background: none;
    border-radius: 8px;
    box-shadow: none;
    align-items: center;
    justify-content: center;
    margin: auto;
    right: none;
    left: none;
    background: #ffffff;
    border-radius: 8px;
  }
  h1 {
    font-size: 3.4vw;

    width: 55vw;
  }
  h2 {
    font-size: 5.4vw;
    width: 40vw;
  }
}
