<div class="comp-body">
    <div class="insider-header">

    
        <div class="welcome-header"> <b>CREATE PRODUCT</b> </div>

    </div>
   
    
<div class="flow-container">
    <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
        <nz-form-item>
          <nz-form-label [nzSpan]="5" nzRequired nzFor="productname">Product</nz-form-label>
          <nz-form-control [nzSpan]="12" nzErrorTip="Please input your Product Name!">
            <input id="productname" type="text" name="productname" [(ngModel)]="productname" nz-input formControlName="productname" />
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSpan]="5" nzFor="category" nzRequired>Category</nz-form-label>
          <nz-form-control [nzSpan]="12" nzErrorTip="Please select your Category!">
            <nz-select
            name="category" [(ngModel)]="category"
              id="category"
              formControlName="category"
              nzPlaceHolder="Select a category"
              (ngModelChange)="categoryChange($event)"
            >
              <nz-option nzValue="Fruit" nzLabel="Fruit"></nz-option>
              <nz-option nzValue="Vegetable" nzLabel="Vegetable"></nz-option>
              <nz-option nzValue="Others" nzLabel="Others"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSpan]="5" nzFor="unit" nzRequired>Unit</nz-form-label>
            <nz-form-control [nzSpan]="12" nzErrorTip="Please select your Category!">
              <nz-select
                name="unit" [(ngModel)]="unit"
                id="unit"
                formControlName="unit"
                nzPlaceHolder="Select an unit"
                (ngModelChange)="unitChange($event)"
              >
                <nz-option nzValue="KG" nzLabel="KG"></nz-option>
                <nz-option nzValue="Piece" nzLabel="Piece"></nz-option>

              </nz-select>
            </nz-form-control>
          </nz-form-item>
        <nz-form-item>
          <nz-form-control [nzSpan]="12" [nzOffset]="5">
            <button nz-button nzType="primary">Submit</button>
          </nz-form-control>
        </nz-form-item>
      </form>


    </div>
    </div>


