.cont {
  position: absolute;
  top: 10%;
  width: 100%;
  height: 90%;
  overflow: auto;
}

.actlogin {
  position: relative;
  padding-top: 3em;
  width: 390px;
  height: 600px;
  margin: auto;
}
.logincon1 {
  position: absolute;
  width: 60%;
  padding-top: 20vh;
}
.logincon2 {
  position: absolute;
  left: 60%;
  width: 40%;
}
.login-box {
  position: relative;
  width: 380px;
  height: 270px;
  margin: auto;
  padding-top: 3%;
  padding-bottom: 5%;
  padding-left: 30px;
  padding-right: 30px;
  background: rgba(255, 255, 255, 0.993);
  border-radius: 10px;

  box-shadow: 0px 4px 71px 30px rgba(0, 0, 0, 0.25);
}
.login-button {
  position: relative;
  left: 5px;
  top: 20px;
  width: 380px;
}
.login-button-text {
  position: relative;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 1.2rem;

  color: #ffffff;
}
.h1 {
  position: relative;
  left: 15%;
  height: 8vw;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 800;
  font-size: 4.2vw;
  top: 2.8vw;
  color: #ffffff;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.h2 {
  position: relative;
  left: 15%;
  top: 0%;
  font-family: Montserrat;
  font-style: normal;
  font-weight: regular;
  font-size: 3.8vw;

  color: #ffffff;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.l1 {
  position: relative;
  text-align: center;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 800;
  font-size: 35px;
  text-align: center;

  color: #000000;
}

.line-login {
  position: relative;
  width: 35vw;
  height: 1px;
  left: 0px;

  background: #ffffff;
}

.line-login2 {
  position: relative;
  width: 150px;
  height: 0.5px;
  top: 30px;

  background: #ffffff;
}
.line-login3 {
  position: relative;
  width: 150px;
  height: 0.5px;
  top: 30px;
  left: 60%;

  background: #ffffff;
}
.forgot {
  position: relative;
  padding-top: 3%;
  padding-bottom: 5%;
  text-align: center;
  top: 25px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 200;
  font-size: 14px;

  text-align: center;

  color: #ffffff;
}

.dontacc {
  position: relative;
  padding-top: 0%;
  padding-bottom: 5%;
  text-align: center;
  top: 35px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;

  text-align: center;

  color: #ffffff;
}

.or {
  position: relative;
  text-align: center;
  top: 15px;
  padding-bottom: 5%;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  text-align: center;

  color: #ffffff;
}

.create-button {
  position: relative;
  margin: auto;
  top: 25px;
  width: 380px;
  background: rgb(255, 255, 255);
  border-radius: 4px;

  box-shadow: 0px 4px 71px 30px rgba(0, 0, 0, 0.25);
}
.create-button-text {
  position: relative;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  top: -2px;
  color: #000000;
}
.loginlabel {
  position: relative;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  padding-bottom: 2%;

  color: #000000;
}

.footer {
  position: fixed;
  left: 0;
  padding-left: 50px;
  display: flex;
  flex-direction: row;

  width: 100%;
  bottom: 0px;
  height: 7%;
  display: flex;
  flex-direction: row;

  background: #292929;
  box-shadow: 0px 4px 71px 30px rgba(0, 0, 0, 0.25);
}
.red {
  color: red;
}
.footer-button {
  position: relative;
  width: 150px;
  top: 15%;
}
.footer-copyright {
  position: absolute;

  right: 12vw;
  top: 30%;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;

  text-align: center;

  color: #ffffff;
}

ul {
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  color: #ffffff;
  padding-top: 2vh;
}

li {
  float: left;
  padding-left: 8vw;
}
li a {
  display: block;
  color: white;
  text-align: center;

  text-decoration: none;
}
li a:hover {
}
@media (max-width: 800px) {
  .footer-copyright {
    display: none;
  }
}

@media (max-width: 1200px) {
  .logincon2 {
    left: 50%;
  }
}
@media (max-width: 800px) {
  .cont {
    width: 100%;
    padding-bottom: 500px;
  }

  .logincon1 {
    position: relative;
    width: 100%;
    padding-top: 20px;
  }
  .logincon2 {
    position: relative;
    width: 100%;
    height: 100px;
    left: 0%;
    padding-left: 0px;
  }
  .l1 {
  }
  .h1 {
    position: relative;
    text-align: center;
    height: 13.5vw;
    left: 0%;
    top: auto;
    font-size: 7.5vw;
  }
  .h2 {
    position: relative;
    text-align: center;
    left: 0%;

    top: -3vh;

    font-size: 7vw;
  }
  .line-login {
    display: none;
  }
  .actlogin {
    position: relative;
    width: 70vw;
    height: 400px;
    left: 2px;
  }

  .login-box {
    position: relative;
    width: 70vw;
    height: 270px;
    left: 2px;
  }

  .login-button {
    position: relative;
    left: 0px;

    width: 70vw;
  }
  .login-button-text {
    position: relative;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 1.2rem;

    color: #ffffff;
  }

  .create-button {
    width: 70vw;
  }
  .forgot {
    font-size: 3.5vw;
  }
  .or {
    font-size: 3.5vw;
  }
  .line-login2 {
    width: 25vw;
  }
  .line-login3 {
    width: 27vw;
    left: 43vw;
  }

  .dontacc {
    top: 40px;
    font-size: 2.4vw;
  }
  .create-button {
    top: 40px;
  }
}
