<div class="body">
    <div class="headr">
      <div class="logo"> </div>
    </div>
  <div class="wrapper">
   
      <div class="backkk"></div>
      
  <div class="cont">
    <div class="bgg"></div>
      <div class="logincon1">
      
          <div class="h1">KILOFARMS</div>
          <div class="h2">DASHBOARD</div>
          <div class="line-login"></div>
          
      </div>
        <div class="logincon2">
      <div class="actlogin">
  
        <form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="login()">
  
        <div class="login-box"> 

            <div class="l1">LOGIN</div>
              <div class="loginlabel">
                Phone number
              </div>
                <nz-form-item>
                  
                  <nz-form-control nzErrorTip="The input is not valid Phone Number!">
                    <nz-input-group nzPrefixIcon="mobile">
      
  
                      <input nz-input formControlName="phone" type="tel" pattern="[0-9]{10}" name="phone" [(ngModel)]="phone" required placeholder="Enter your phone number">
                    </nz-input-group>
                  </nz-form-control>
                </nz-form-item>
                <div class="loginlabel">
                  Password
                </div>
                <nz-form-item>
                  <nz-form-control nzErrorTip="Please input your Password!">
                    <nz-input-group nzPrefixIcon="lock">
                      <input nz-input formControlName="password" type="password" name="password" [(ngModel)]="password" required id="password"   placeholder="Enter your password">
                    </nz-input-group>
                  </nz-form-control>
                </nz-form-item>
               
                  <label nz-checkbox formControlName="remember">
                    <span style="color:rgb(0, 0, 0); font-size: 12px;">Remember Me</span>
                  </label>
                  
          </div>
          <div class="login-button">
            
            <button nz-button class="login-form-button login-form-margin" [nzType]="'primary'" nzBlock nzSize="large">
                <div class="login-button-text">Login</div>
            </button>
  
  
    </div>  
              </form>
        
     
  
        <div class="forgot">
            <a style="color: #fff;;"><b>Forgot Password?</b></a>
              
        </div>
     
    <div class="dontacc">
      Don't have an account?
    </div>
  
    <div class="create-button">
            
      <button nz-button class="login-form-button login-form-margin" [nzType]="'text'" nzBlock nzSize="large">
          <div class="create-button-text">Create your account</div>
      </button>
  
  
  </div> 
  
  </div>
  
  </div>
  <div class="footer">
    <div class="footer-items">
      <ul>
  
    
        <li  ><a (click)="showModal()">Contact</a></li> 
  
  
    
    <li  ><a (click)="showModal()">Privacy</a></li> 
     
    <li  ><a (click)="showModal()">Legal</a></li> 
    <nz-modal [(nzVisible)]="isVisible" nzTitle="Hameed Task" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
      <ng-container *nzModalContent>
        <p>Hameed Ibrahim</p>
        <p>114118037</p>
        <p>NIT Trichy</p>
      </ng-container>
    </nz-modal>
    <div class="footer-copyright">
      Made with <i style="color: red;" nz-icon nzType="heart" nzTheme="fill"></i> by <a href="https://www.github.com/hameedibrh" >Hameed </a>:)
    </div>
      
  </ul>
    </div>
    </div>
  </div>
  
    
          
  </div>
  
  </div>
   