<div class="comp-body">
    <div class="insider-header">

    
        <div class="welcome-header"> <b>DISPLAY ALL PRODUCTS</b> </div>

    </div>
   
    
<div class="flow-container">


    <nz-table #nzTable [nzData]="objalls" nzTableLayout="fixed" [nzFrontPagination]="false" class="sortable">
        <thead>
          <tr>
            <th nzCustomFilter>
              SKU ID
              <nz-filter-trigger [(nzVisible)]="visibleid" [nzActive]="searchValueid.length > 0" [nzDropdownMenu]="menuid">
                <div class="red"><i nz-icon nzType="search"></i></div>
              </nz-filter-trigger>
            </th>
            <th nzCustomFilter>SKU Name
              <nz-filter-trigger [(nzVisible)]="visible" [nzActive]="searchValue.length > 0" [nzDropdownMenu]="menu">
                <div class="red"><i nz-icon nzType="search"></i></div>
              </nz-filter-trigger>
            </th>
        

          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let com of objall">
            <td >{{ com.skuId }}</td>
            <td ><a (click)="transfer(com.skuId)">{{ com.skuName }}</a></td>
            
        
          </tr>
        </tbody>
      </nz-table>
      <nz-dropdown-menu #menu="nzDropdownMenu">
        <div class="ant-table-filter-dropdown">
          <div class="search-box">
            <input type="text" nz-input placeholder="Search by SKU Name" [(ngModel)]="searchValue" />
            <button nz-button nzSize="small" nzType="primary" (click)="search()" class="search-button">
              Search
            </button>
            <button nz-button nzSize="small" (click)="reset()" class="search-button">Reset</button>
          </div>
        </div>
      </nz-dropdown-menu>

      <nz-dropdown-menu #menuid="nzDropdownMenu">
        <div class="ant-table-filter-dropdown">
          <div class="search-box">
            <input type="text" nz-input placeholder="Search by SKU ID" [(ngModel)]="searchValueid" />
            <button nz-button nzSize="small" nzType="primary" (click)="searchid()" class="search-button">
              Search
            </button>
            <button nz-button nzSize="small" (click)="resetid()" class="search-button">Reset</button>
          </div>
        </div>
      </nz-dropdown-menu>


    </div>
    </div>


