<div class="body">
    <div class="model-bg"></div>
    <div class="kilofarms-header-cont">
      <div class="kilofarms-header"> <b>KILOFARMS</b> DASHBOARD</div>
      <div class="kilofarms-line"> </div>
      
    </div>
    <div ></div>
    </div>
              <div class="headr">
                  <div class="logo"> </div>
                  <div class="logout-button">
                  
                      <button nz-button class="logout-button" [nzType]="'text'" nzBlock nzSize="large" (click)="doLogout()" class="nz-button-l">
                        <div class="logout-button-text">Logout</div>
                      </button>
                </div> 
                  <i class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'" (click)="open()"></i>
                </div>
              
                <div class="dashboard">
                <div class="mainslider">
                  
              <nz-layout class="slider">
              
                  
                      <nz-sider class="slider2s"  nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="null"   >
                        
                      
                          <ul class="menu-center"  nz-menu nzTheme="0" nzMode="inline" >
                           
                            <li   nz-menu-item  nzMatchRouter class="menu-item"  [routerLink]="['/', 'dashboard', 'createproduct']" (click)="close()">
                              <i nz-icon nzType="plus-circle" nzTheme="fill" class="icon" ></i>
                              <span  class="slidebartext">Create Product</span>
                            </li>
                           
                              <li   nz-menu-item  nzMatchRouter class="menu-item"  [routerLink]="['/', 'dashboard', 'allproducts']" (click)="close()">
                                <i nz-icon nzType="database" nzTheme="fill" class="icon"></i>
                                <span  class="slidebartext">All Products</span>
                              </li>
                      
                          </ul>
                        
                        </nz-sider>
                        
                          <nz-layout class="content"> 
                          
                            <div class="inner-content" >
                              
                              <router-outlet></router-outlet>
                            </div>
                        
                          </nz-layout>
                    
                      </nz-layout>
                    </div>
        </div>
     
    
    
    