.dashboard {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.model-bg {
  width: 100%;
  height: 100%;
  overflow: hidden;
  opacity: 0.1;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url(/assets/dashboard.jpg);
  mix-blend-mode: screen;
}

.mainslider {
  position: absolute;
  top: 10%;
  height: 90%;
  width: 87%;
}
.logout-button {
  position: absolute;
  right: 3%;
  top: 3vh;
  width: 90px;
  background: rgba(0, 0, 0, 0.185);
  border-radius: 18px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}
.logout-button:hover {
  background: #cf2f2f;
}

.logout-button-text {
  position: absolute;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  top: -8px;
  left: 12px;

  color: #000000;
}
.trigger {
  position: absolute;
  left: 2%;
  top: 3vh;
  font-size: 28px;
  color: #000000;

  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #cf2f2f;
}

nz-header {
  padding: 0;
}

nz-content {
  margin: 0 16px;
}

nz-breadcrumb {
  margin: 16px 0;
}

.outer-content {
  position: absolute;
  width: 100%;
  height: 90%;
}
.inner-content {
  position: absolute;
  width: 100%;
  height: 85vh;
  overflow: hidden;
}
.content {
  width: 1020vh;
  overflow: scroll;
}
nz-footer {
  text-align: center;
}
nz-menu {
  top: 50px;
  color: rgb(255, 0, 0);
}
nz-menu:active {
  color: #ffffff;
}

.nz-button-l {
  height: 20px;
}
.menu-center {
  height: 100%;
  padding-top: 30vh;
  background-color: #e9e5e5;
  padding-right: 0px;
}
.menu-item {
  position: relative;
  padding-bottom: 5px;
  bottom: 0px;
  background-color: rgba(12, 12, 12, 0.315);
}
ns .menu-item:hover {
  position: relative;
  color: #cf2f2f;
}
.menu-item:active {
  position: relative;
  color: #ff0000;
}
.conten {
  position: relative;
  left: 0%;
}

.slider {
  height: 100%;
  width: 0%;
}
.slider2s {
  background: #ffffff;
}
.icon {
  color: #ffffff;
}
.icon:hover {
  color: #cf2f2f;
}
.slidebartext {
  color: #ffffff;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
}
b {
  font-weight: 800;
}
.kilofarms-header-cont {
  position: absolute;
  right: 0%;
  top: 15%;
}

.kilofarms-line {
  position: relative;
  width: 350px;
  height: 1px;

  background: #ffffff;
  transform: matrix(1, 0, 0, -1, 0, 0);
}
.kilofarms-header {
  position: relative;
  width: fit-content;
  white-space: pre;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  /* identical to box height */

  color: #ffffff;
}
@media (max-width: 800px) {
  .kilofarms-header-cont {
    display: none;
  }
  .mainslider {
    width: 100%;
    overflow: hidden;
  }
  .trigger {
    position: absolute;
    left: 5%;
    top: 2.8vh;
    font-size: 28px;
    color: #000000;

    cursor: pointer;
    transition: color 0.3s;
  }
  .kilofarms-header {
    position: relative;
    width: fit-content;
    white-space: pre;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 20;
    font-size: 8px;
    /* identical to box height */

    color: #ffffff;
  }
  .header-line {
    width: 103%;
    height: 1px;

    background: #ffffff;
    transform: matrix(1, 0, 0, -1, 0, 0);
  }
  .inner-content {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: auto;
  }
  .content {
    width: 100%;
    overflow: visible;
  }
  .dashboard {
    width: 100%;
    height: 100%;
    overflow: visible;
  }
  .logout-button {
    position: absolute;
    right: 3%;
    top: 3vh;
    width: 70px;
    height: 25px;

    background: rgba(0, 0, 0, 0.185);
    border-radius: 18px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  }

  .logout-button-text {
    position: absolute;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    top: -3px;
    left: 14px;

    color: #000000;
  }
}
