@import "./customizedant.css";

* {
  padding: 0%;
  margin: 0%;
  font-family: "Montserrat", sans-serif;
}

.wrapper {
  flex-direction: column;
}
.body {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #004b28;
  overflow: hidden;
}

.headr {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 10%;

  background: #ffffff;
  box-shadow: 0px 4px 71px 30px rgba(0, 0, 0, 0.25);
}
.logo {
  position: relative;
  top: 10%;
  width: 16vh;
  height: 8vh;
  align-items: center;
  justify-content: center;
  margin: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url(/assets/kflogo.png);
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(216, 23, 23);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(168, 6, 6);
}
.backkk {
  position: absolute;
  width: 100%;
  height: 85vh;
  left: 0px;
  top: 10vh;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url(/assets/dashboard.jpg);
  mix-blend-mode: screen;
  opacity: 0.1;
}
@media (max-width: 800px) {
  ::-webkit-scrollbar {
    display: none;
  }
}
